
<div style="position: fixed; top: 30px; right: 0%;  width: 50%; height: 50%; z-index: 999;">


<form style="position: fixed; width: 23%; top: 24%; left: 34%; height: 35%;" class="has-success" name="myForm">
	<div ng-show="showErr == true" id="showerr"> All the fields must be filled out.</div>
<input id="input1" class="form-control col-lg-3" type="text" name="username" placeholder="Name"           ng-model="user.name" required> <br> <br>
<input id="input1" class="form-control col-lg-3" type="text" name="dob" 	 placeholder="Date of Birth"  ng-model="user.dob" required> <br> <br>
<input id="input1" class="form-control col-lg-3" type="text" name="uni" 	 placeholder="University"     ng-model="user.university" required> 
<br> <br>
<input id="input1" class="form-control col-lg-3" type="text" name="gender" 	 placeholder="Gender"         ng-model="user.gender" required> <br> 
<br>
<input id="input1" class="form-control col-lg-3" type="text" name="hobby" 	 placeholder="Hobbies"        ng-model="user.hobbies" required> <br> 
<br>
<input id="input1" class="form-control col-lg-3" type="text" name="phone" 	 placeholder="Phone Number"   ng-model="user.phone" required> <br> 
<br>
<input id="input1" class="form-control col-lg-3" type="text" name="email" 	 placeholder="E-mail"         ng-model="user.email" required> <br> 
<br>
<input id="input1" class="form-control col-lg-3" type="text" name="address"  placeholder="Address"        ng-model="user.address" required> <br> 
<br>

<!--<button type="submit" class="btn btn-group" ng-click="save()" style="position: fixed; top: 72%;">Submit</button> 

<button type="submit" class="btn btn-group" ng-click="update()" style="position: fixed; top: 72%; left: 28%;">Show</button>

<button type="submit" class="btn btn-group" ng-click="save()" style="position: fixed; top: 72%; left: 38%;">Save</button> -->
</form> 

</div>


<!-- Navigation Right -->
<!--<div style="position: fixed; top: 45%; right: 3%; height: 20%; z-index: 4444;">
    <div class="navigation-right" ng-click="next()"></div>
</div>


 <img src="1234.png" style="position: fixed; top: 35%; height: 33%; z-index: 666; right: 7%; width: 1%;"></img>-->


 <div class="button col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-click="next()"> <div id="content"> Let's Try </div>
	
</div>	







     
    

  
