<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<style>
      body 
      {
        background: #3863a0;  
        opacity: 0.8;			 /*#020824*/
        background-size: cover;
        -webkit-user-select: none; /* Chrome/Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
      }
    </style>

<!--<img src="images/quotess.png" style="position: fixed; left: 22%; top: 36%; height: 8%;"></img> -->

<div id="userBox" class="col-lg-6 col-md-9 col-sm-9 col-xs-9">

<h3 id="redirectHeader"> {{userData1.name}}, we hope the test was fine for you. </h3>
<h3 id="redirectHeader">  
	We will go over your answers and we will contact you. 
	<br><br>Why not <a href="#/questionnaire">&nbsp; <b>help us</b> &nbsp;</a> know more about you? </h3>

</div>